<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>batik-cendikia</title>
  </head>
  <body>
    <header>
      <nav id="navbar" class="navbar navbar-expand-lg w-100 position-fixed">
        <div class="container">
          <a class="navbar" href="#/home">
            <img id="nav-logo" src="logo-white.png" alt="Logo" class="nav-logo" />
          </a>
          <button class="navbar-toggler navbar-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon navbar-light"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="#/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#/workshop">Workshop</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main id="thecontent"></main>
  </body>
</html>
