@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --bs-blue: #0D6EFD;
  --bs-indigo: #6610F2;
  --bs-purple: #6F42C1;
  --bs-pink: #D63384;
  --bs-red: #050505;
  --bs-orange: #FD7E14;
  --bs-yellow: #FFC107;
  --bs-green: #198754;
  --bs-teal: #20C997;
  --bs-cyan: #0DCAF0;
  --bs-white: #FFF;
  --bs-gray: #6C757D;
  --bs-gray-dark: #343A40;
  --bs-primary: #0D6EFD;
  --bs-secondary: #6C757D;
  --bs-success: #198754;
  --bs-info: #0DCAF0;
  --bs-warning: #FFC107;
  --bs-danger: #050505;
  --bs-light: #F8F9FA;
  --bs-dark: #343A40;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #FFF;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}


.modal {
  z-index: 99999;
  background: rgba(0, 0, 0, 0.5);
  padding-right: 0 !important;
}
.modal-dialog {
  max-width: calc(100% - 20px) !important;
  margin: 0 auto !important;
}
@media (min-width: 768px) {
  .modal-dialog {
    max-width: 730px !important;
  }
}
@media (min-width: 992px) {
  .modal-dialog {
    max-width: 870px !important;
  }
}
@media (min-width: 1200px) {
  .modal-dialog {
    min-width: 825px !important;
  }
}
.modal-close {
  width: 40px;
  height: 40px;
  border: 1px solid red;
  border-radius: 50%;
  color: red;
  margin-top: 15px;
}
.modal-border {
  border-left: none;
}
@media (min-width: 992px) {
  .modal-border {
    border-left: 1px solid #eee;
  }
}

.modal-add-cart-product-img {
  text-align: center;
}

.modal-add-cart-product-title {
  margin-top: 25px;
}
@media (min-width: 768px) {
  .modal-add-cart-product-title {
    margin-top: 0px;
  }
}

.modal-add-cart-product-title,
.modal-add-cart-product-price {
  display: block;
  font-weight: 500;
}

.modal-add-cart-product-info,
.modal-add-cart-product-shipping-info {
  font-weight: 500;
}
.modal-add-cart-product-info li,
.modal-add-cart-product-shipping-info li {
  margin-bottom: 10px;
}
.modal-add-cart-product-info li:last-child,
.modal-add-cart-product-shipping-info li:last-child {
  margin-bottom: 0;
}
.modal-add-cart-product-info span,
.modal-add-cart-product-shipping-info span {
  font-weight: 300;
  padding-left: 5px;
}

.modal-add-cart-product-cart-buttons {
  display: flex;
  flex-direction: column;
}
@media (min-width: 576px) {
  .modal-add-cart-product-cart-buttons {
    flex-direction: row;
  }
}
.modal-add-cart-product-cart-buttons a {
  margin-top: 10px;
  margin-bottom: 10px;
  background: red;
  color: white;
  padding: 5px 10px;
  margin-right: 0px;
}
.modal-add-cart-product-cart-buttons a:last-child {
  margin-right: 0;
}
@media (min-width: 576px) {
  .modal-add-cart-product-cart-buttons a {
    margin-top: 20px;
    margin-bottom: 15px;
    margin-right: 10px;
    flex-direction: row;
  }
}

.modal-add-cart-info i {
  color: red;
  padding-right: 10px;
  font-size: 16px;
}

.modal-continue-button a {
  text-decoration: underline;
  color: #ea1c26;
}
.modal-continue-button a:hover {
  text-decoration: none;
}

.modal-product-details-social {
  display: flex;
  flex-wrap: wrap;
}
.modal-product-details-social li {
  margin-right: 10px;
}
.modal-product-details-social li a {
  width: 30px;
  height: 30px;
  display: block;
  line-height: 30px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
}

.product-image-thumb {
  position: relative;
}
.product-image-thumb img {
  border: 1px solid #eee;
}
.product-image-thumb.modal-product-image-thumb {
  margin-top: 15px;
}
.product-image-thumb.modal-product-image-thumb .slick-list {
  margin-left: -7.5px;
  margin-right: -7.5px;
}
.product-image-thumb.modal-product-image-thumb .slick-slide {
  margin-left: 7.5px;
  margin-right: 7.5px;
}
.product-image-thumb:hover .gallery-nav {
  visibility: visible;
  opacity: 1;
}

.product-details-text {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.product-details-text .title {
  text-transform: capitalize;
  line-height: 20px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 22px;
}
.product-details-text .customer-review {
  margin-left: 15px;
}
.product-details-text .price {
  display: block;
  font-size: 20px;
  color: #ea1c26;
  margin: 10px 0;
}
.product-details-text .price del {
  color: #8a8a8a;
  padding-right: 15px;
}

.product-details-content-area-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.product-review .review-fill,
.testimonial-review .review-fill {
  color: #fdb813;
}
.product-review .review-empty,
.testimonial-review .review-empty {
  color: #eee;
}

.product-details-meta ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.product-details-meta ul li {
  margin-right: 25px;
}
.product-details-meta ul li:last-child {
  margin-right: 0;
}
.product-details-meta ul li a i {
  padding-right: 5px;
}

.product-details-social ul {
  display: flex;
  align-items: center;
}

.product-details-social ul {
  display: flex;
  flex-wrap: warp;
  align-items: center;
  font-size: 12px;
}
.product-details-social ul li {
  margin-right: 7px;
}
.product-details-social ul li:last-child {
  margin-right: 0;
}
.product-details-social ul li a {
  color: #FFF;
  line-height: 24px;
  padding: 0 6px;
  border-radius: 3px;
  text-transform: capitalize;
  display: inline-block;
}
.product-details-social ul li a:hover {
  opacity: 0.7;
}
.product-details-social ul li a i {
  padding-right: 5px;
  display: inline;
}

.product-details-gallery-area {
  margin-bottom: 60px;
}

.product-large-image-horaizontal,
.product-large-image-vertical {
  overflow: hidden;
  border: 1px solid #eee;
}
.product-large-image-horaizontal img,
.product-large-image-vertical img {
  width: 100%;
}

.product-large-image-single-slider img {
  width: 100%;
  border: 1px solid #eee;
  position: relative;
}
.product-large-image-single-slider:hover .gallery-nav {
  visibility: visible;
  opacity: 1;
}
.product-large-image-single-slider .slick-list {
  margin-left: -15px;
  margin-right: -15px;
}
.product-large-image-single-slider .slick-slide {
  margin-left: 15px;
  margin-right: 15px;
}

.product-image-thumb {
  position: relative;
}
.product-image-thumb img {
  border: 1px solid #eee;
}
.product-image-thumb.product-image-thumb-horizontal {
  margin-top: 15px;
  margin-left: 60px;
  margin-right: 60px;
}
.product-image-thumb.product-image-thumb-horizontal .slick-list {
  margin-left: -7.5px;
  margin-right: -7.5px;
}
.product-image-thumb.product-image-thumb-horizontal .slick-slide {
  margin-left: 7.5px;
  margin-right: 7.5px;
}
.product-image-thumb.product-image-thumb-vertical {
  width: 20%;
}
.product-image-thumb.product-image-thumb-vertical .slick-list {
  margin-top: -7.5px;
  margin-bottom: -7.5px;
}
.product-image-thumb.product-image-thumb-vertical .slick-slide {
  margin-top: 7.5px;
  margin-bottom: 7.5px;
}
.product-image-thumb:hover .gallery-nav {
  visibility: visible;
  opacity: 1;
}

.gallery-nav {
  z-index: 9;
  width: 30px;
  height: 30px;
  background: #E9ECEF;
  border-radius: 3px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease 0s;
}
.gallery-nav:hover {
  background: #ea1c26;
  color: #FFF;
}

.gallery-nav-horizontal {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.gallery-nav-vertical {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.gallery-nav-horizontal-left {
  left: 0;
}

.gallery-nav-horizontal-right {
  right: 0;
}

.gallery-nav-vertical-up {
  top: 0;
}

.gallery-nav-vertical-down {
  bottom: 0;
}

.product-large-image-vertical {
  width: 80%;
}

.product-image-gallery-single {
  width: calc(50% - 20px);
  overflow: hidden;
  float: left;
}

.product-image-gallery-single img {
  width: 100%;
  border: 1px solid #eee;
}

.product-image-sticky-single {
  overflow: hidden;
  text-align: center;
  margin-bottom: 30px;
}

.product-image-sticky-single img {
  max-width: 100%;
  border: 1px solid #eee;
}

.product-details-variable .title {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 18px;
  margin-bottom: 25px;
}

.variable-single-item {
  margin-bottom: 20px;
}
.variable-single-item > span {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  text-transform: capitalize;
}

.product-add-to-cart-btn a {
  display: inline-block;
  font-size: 16px;
  margin-left: 20px;
  background: #ea1c26;
  height: 42px;
  line-height: 42px;
  text-transform: capitalize;
  min-width: 200px;
  text-align: center;
  color: #FFF;
  border-radius: 3px;
  margin-top: 7px;
  font-weight: 500;
}
@media (min-width: 768px) {
  .product-add-to-cart-btn a {
    min-width: 200px;
  }
}
@media (min-width: 992px) {
  .product-add-to-cart-btn a {
    min-width: 270px;
  }
}
.product-add-to-cart-btn a:hover {
  background: #666;
}

/* Variable - Color*/
.product-variable-color label {
  line-height: 0;
  margin-right: 5px;
  position: relative;
}
.product-variable-color label:last-child {
  margin-right: 0;
}
.product-variable-color label input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.product-variable-color label span {
  position: relative;
  width: 30px;
  height: 30px;
  display: inline-block;
  border: 2px solid #eee;
  background: #E9ECEF;
  border-radius: 2px;
  cursor: pointer;
}
.product-variable-color label span::after {
  position: absolute;
  content: "";
  font-family: "FontAwesome";
  color: #FFF;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product-variable-color label input:checked ~ span::after {
  content: "ï€Œ";
}
.product-variable-color label .product-color-red {
  background: red;
}
.product-variable-color label .product-color-tomato {
  background: tomato;
}
.product-variable-color label .product-color-green {
  background: green;
}
.product-variable-color label .product-color-light-green {
  background: lightgreen;
}
.product-variable-color label .product-color-blue {
  background: blue;
}
.product-variable-color label .product-color-light-blue {
  background: lightblue;
}

/* Variable - Quantity*/
.product-variable-quantity input {
  width: 90px;
  border: 1px solid #eee;
  background: none;
  height: 42px;
  padding: 0 12px;
  border-radius: 5px;
}

/* Variable - Size*/
.product-variable-size {
  float: inherit;
  width: 200px;
}
.product-variable-size .list {
  width: 100%;
}

/* Variable - Group*/
.product-variable-group {
  font-family: "Raleway", sans-serif;
}
.product-variable-group table tbody tr td {
  border-right: 1px solid #e1e1e1;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 14px;
  text-align: center;
  min-width: 140px;
}
.product-variable-group .quantity input {
  width: 120px;
  border: 1px solid #eee;
  background: none;
  height: 42px;
  padding: 0 12px;
  border-radius: 5px;
  text-align: center;
}

.tr-vertical-middle {
  vertical-align: middle;
}

.product-details-content-tab-wrapper {
  background: white;
  padding: 0 30px;
}

.product-details-content-tab-btn {
  padding: 25px 0;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid #ddd;
}

.product-details-content-tab {
  padding: 40px 0;
}

.review-form-text-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 35px;
}
@media (min-width: 992px) {
  .review-form-text-top {
    flex-direction: row;
    align-items: center;
  }
}
.review-form-text-top h5, .review-form-text-top .h5 {
  font-size: 16px;
  font-weight: 700;
}

.form-submit-btn {
  border: none;
  background: #333;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 500;
  padding: 10px 20px;
  display: block;
  transition: 0.3s;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}
.form-submit-btn:hover {
  background: #ea1c26;
}
