/* globals */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");

:root {
  --nav-color: #0d121fbf;
  --hero-color: #0d121f;
  --white: #ffffff;
  --purple: #7c5cfc;
  --font-jkt: "Plus Jakarta Sans", sans-serif;
  --color-font-black: #040815;
  --color-font-grey: #596780;
  --template-font-grey: #90a3bf;
  --green: #9cd323;
  --font-latin: "Great Vibes", cursive;
  --font-italiana: "Italiana", sans-serif;
  --coklat: #df8f68;
}

/* ---- .grid-item ---- */

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header,
nav,
section,
article,
aside,
footer,
hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-bottom: 0px;
}

p {
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #afafaf;
}

img {
  width: 100%;
  overflow: hidden;
}

/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/
html,
body {
  background: var(--white);
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar */
nav {
  z-index: 9999;
  top: 0;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s;
}

.navbar.scrolled {
  background-color: white;
}

.navbar.scrolled .nav-link {
  color: black;
}

.navbar.scrolled .nav-link.active {
  color: black;
  border-bottom: 2px solid #df8f68;
}

.navbar .navbar-collapse ul li a {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: -2%;
  padding-left: 30px;
  padding-right: 30px;
  color: #fff;
}

.navbar .navbar-collapse ul li a.active {
  border-bottom: 2px solid #df8f68;
  color: #fff;
}

.nav-logo {
  width: 160px;
}

.gradient-button a {
  display: inline-block !important;
  padding: 10px 20px !important;
  color: var(--white);
  text-transform: capitalize;
  font-size: 18px;
  background: var(--coklat);
  border-radius: 23px;
  font-weight: 800 !important;
  letter-spacing: 0.3px !important;
  /* transition: all 0.5s; */
  margin-left: 10px;
}

.gradient-button a:hover {
  color: var(--coklat) !important;
  background: transparent;
  border: 2px solid var(--coklat);
}

@media (max-width: 768px) {
  .navbar .navbar-collapse ul li a {
    padding-top: 2rem;
  }
  .gradient-button a {
    align-content: center;
    width: 100%;
    text-align: center;
    margin: auto 2px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

/* Gaya khusus untuk dropdown menu */
.navbar .dropdown-menu {
  background-color: transparent; /* Tetapkan menjadi transparan atau warna yang diinginkan */
  border: none; /* Hilangkan border jika tidak diperlukan */
}

/* Opsional, Anda bisa menata item dropdown juga */
.navbar .dropdown-menu .dropdown-item {
  color: #fff; /* Tetapkan warna teks untuk item dropdown */
}

/* Menata item dropdown saat hover */
.navbar .dropdown-menu .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Tetapkan warna latar belakang saat hover jika diperlukan */
  color: #000; /* Ubah warna teks saat hover */
}

/* end navbar */

/* hero  */
#hero {
  background-image: url("../img/bg-batik.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 180px 0 0 0;
  position: relative;
  overflow: hidden;
  width: 100%;
  z-index: 1;
}

#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 2; 
}

.hero-content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-top: -50px;
  position: relative;
  z-index: 999;
}

#hero h1,
#hero h3 {
  margin: 0 auto;
  margin-bottom: 12px;
  font-size: 90px;
  font-weight: 700;
  line-height: 90px;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-family: var(--font-latin);
  z-index: 999;
}

#hero h3 {
  font-size: 60px;
  z-index: 999;
}

#hero h2 {
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 40px;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  z-index: 999;
}

.with-lines {
  position: relative;
  display: inline-block;
  padding: 0 2px;
  margin: 0 auto;
  text-align: center;
}

.with-lines::before,
.with-lines::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 50px;
  height: 2px;
  background-color: white;
}

.with-lines::before {
  left: -60px;
}

.with-lines::after {
  right: -60px;
}

#hero .btn-get-started {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  background: #8b5539;
  color: #fff;
  transition: background 0.5s ease, border 0.5s ease, color 0.5s ease;
}

#hero .btn-get-started:hover {
  background: #543221;
  border: 1px solid #fff;
  color: #ffffff;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

#hero .hero-img {
  top: 0;
  margin-top: -12rem;
  margin-bottom: -10rem;
  z-index: 1;
  width: 150%;
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

.hero-waves {
  display: block;
  margin-top: 60px;
  width: 100%;
  height: 60px;
  z-index: 5;
  position: relative;
}

.wave1 use {
  animation: move-forever1 10s linear infinite;
  animation-delay: -2s;
}

.wave2 use {
  animation: move-forever2 8s linear infinite;
  animation-delay: -2s;
}

.wave3 use {
  animation: move-forever3 6s linear infinite;
  animation-delay: -2s;
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }

  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

/* about batik  */
.about-batik {
  margin-top: 5rem;
}
/* end about batik  */

/* batik gallery */
.content-title h1 {
  font-family: var(--font-italiana);
  text-align: center;
  font-size: 64px;
  font-weight: 400;
}

gallery-batik {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-items: center;
  margin-top: 50px;
}

.container-batik {
  width: 100%;
  max-width: 350px; /* Ensure the container does not exceed 350px */
  border-radius: 10px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.129);
  padding-bottom: 20px;
  overflow: hidden;
}

.batik-img {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 200px;
}
.batik-img::before {
  content: "";
  position: absolute;
  bottom: 0px;
  z-index: 5;
  left: 0;
  border-right: 180px solid transparent;
  border-bottom: 40px solid white;
}
.batik-img::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0;
  z-index: 5;
  border-left: 180px solid transparent;
  border-bottom: 40px solid white;
}
.batik-img img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  border: 2px solid white;
}

.main-batik {
  text-align: center;
  margin-top: 10px;
  line-height: 18px;
  padding: 10px 15px;
}
.main-batik > b {
  font-size: 20px;
  color: rgb(94, 94, 94);
}
.batik-daerah {
  display: flex;
  justify-content: center;
  gap: 7px;
  align-items: center;
  font-size: 14px;
  color: rgb(94, 94, 94);
}

.main-batik > p {
  color: rgb(94, 94, 94);
  font-size: 13px;
  line-height: 24px;
  margin-top: 5px;
  height: 100px;
  overflow: scroll;
}

.batik-daerah > div svg {
  width: 30px;
  height: 20px;
  color: red;
}

/* end batik gallery */

/* workshop  */
.card-paket {
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 12px;
  text-align: center;
  padding: 40px 30px !important;
  height: fit-content;
  cursor: pointer;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.card-paket .content {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.card-paket:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -o-linear-gradient(307.13deg, #6a11cb 12.55%, #2575fc 108.54%);
  background: linear-gradient(142.87deg, #6a11cb 12.55%, #2575fc 108.54%);
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.card_media {
  background: -o-linear-gradient(316.28deg, #6a11cb 21.85%, #2575fc 104.32%);
  background: linear-gradient(133.72deg, #6a11cb 21.85%, #2575fc 104.32%);
  border-radius: 90%;
  width: 74px;
  height: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 10px;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  position: relative;
  overflow: hidden;
}

.card_media:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  z-index: 1;
}

.card_media .icon {
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 30px;
  -webkit-transition: color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

.card_main-title {
  margin: 0 auto 10px;
  -webkit-transition: color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
  font-size: 26px;
}

.card_main-text {
  -webkit-transition: color 0.4s ease-in-out;
  -o-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
  font-size: 18px;
  color: #000;
}

.card_main-text,
.card_main-title {
  max-width: 285px;
}

.card-paket:hover {
  color: #fff;
  -webkit-box-shadow: 0 2px 14px rgba(112, 115, 255, 0.75);
  box-shadow: 0 2px 14px rgba(112, 115, 255, 0.75);
}

.card-paket:hover .card_media:after,
.card-paket:hover:after {
  opacity: 1;
}

.card-paket:hover .card_media .icon {
  color: #3d53eb;
}

.card-paket:hover .card_main-title,
.card-paket:hover .card_main-text {
  color: #fff;
}
/* end workshop  */

/* loader  */
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background: url(../img/preloader.gif) center no-repeat #ffffff;
  text-align: center;
}
/* end loader  */

/* modal batik  */

.modal {
  border-radius: 7px;
  /* overflow: hidden; */
  background-color: transparent;
  font-family: "Poppins", sans-serif;
}
.modal .logo a img {
  width: 30px;
}
.modal .modal-content {
  background-color: transparent;
  border: none;
  border-radius: 7px;
}
.modal .modal-content .modal-body {
  border-radius: 7px;
  /* overflow: hidden; */
  background-color: #fff;
  padding-left: 0px;
  padding-right: 0px;
  -webkit-box-shadow: 0 10px 50px -10px rgba(0, 0, 0, 0.9);
  box-shadow: 0 10px 50px -10px rgba(0, 0, 0, 0.9);
}
.modal .modal-content .modal-body h2 {
  font-size: 18px;
}
.modal .modal-content .modal-body p {
  color: #777;
  font-size: 14px;
}
.modal .modal-content .modal-body h3 {
  font-weight: 900;
  color: #000;
  font-size: 22px;
}
.modal .modal-content .modal-body .close-btn {
  color: #000;
}
.modal .modal-content .modal-body .promo-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}
.modal .cancel {
  color: gray;
  font-size: 14px;
}
.modal .btn-primary {
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-control {
  border: transparent;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border: none;
}
.form-control:active,
.form-control:focus,
.form-control:hover {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.btn {
  border-radius: 4px;
  border: none;
}
.btn:active,
.btn:focus {
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.custom-select {
  border: none;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}
.custom-select:active,
.custom-select:focus,
.custom-select:hover {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo img {
  width: 70px;
}

.custom-note {
  color: #999;
}
.custom-note a {
  color: #555;
  font-weight: 900 !important;
}

.btn-close {
  background-color: white;
  border: none;
  opacity: 1;
}

.btn-close:hover,
.btn-close:focus {
  background-color: white;
  opacity: 0.8;
}

/* end modal batik  */

/* why batik  */
.fizo-icon-box.layout-5 {
  text-align: center;
  margin-bottom: 35px;
}
.fizo-icon-box.layout-5 .dis {
  text-align: justify;
}
.fizo-icon-box.layout-5 .icon {
  margin: 20px auto;
  background-color: var(--coklat);
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.fizo-icon-box.layout-5 .icon img {
  width: cover;
  height: auto;
  top: 50%;
  display: block;
  margin: auto;
  position: relative;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.fizo-icon-box.layout-5 h3 {
  font-weight: 600;
  font-size: 24px;
  margin: 25px auto 27px auto;
}
.fizo-icon-box.layout-5 h3 a {
  color: #000;
  display: block;
}
.fizo-icon-box.layout-5:hover .icon {
  background-color: #f9dc93;
}
.fizo-icon-box.layout-5:hover h3 a {
  color: var(--coklat);
}
/* end why batik  */

/* class batik  */
.image-container {
  position: relative;
  height: 365px; /* Set a fixed height for consistency */
  margin-bottom: 2rem;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the container */
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.8);
}

.image-container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* end class batik  */

.hidden {
  display: none !important;
}

/* awal login */
#login {
  background-color: #d87b01;
  min-height: 150vh;
  /* height: 100vh; */
}
.bg-login {
  display: flex;
  justify-content: center;
  align-content: center;
}
.form {
  position: relative;
  border-radius: 16px;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  top: 5rem;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 10;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #f58b00;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,
.form button:active,
.form button:focus {
  background: #e48508;
}

button {
  border-radius: 16px;
}
/* akhir login */