@media only screen and (min-width: 769px) {
  .main-batik > p::-webkit-scrollbar {
    width: 0;
  }
}

@media (max-width: 640px) {
  #hero{
    padding-top: 2rem;
  }
  #hero h3{
    font-size: 30px;
  }
  #hero h1{
    font-size: 60px;
    line-height: 40px;
  }
  #hero .hero-img {
    top: 0;
    margin-top: -5.8rem;
    margin-bottom: -4rem;
  }
  #hero .hero-waves{
    margin-top: 70px;
  }
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  .main-banner {
    padding: 150px 20px 100px 20px;
  }
  .hero-content{
    margin-top: 2rem;
  }

  .main-banner .left-content h1 {
    font-size: 36px;
    line-height: 56px;
  }

  .main-banner .left-content p {
    font-size: 18px;
    line-height: 28px;
  }

  #why-batik{
    margin-top: 2rem;
  }

    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      transform: translateX(-100%);
      z-index: 1000;
      width: 100%;
      overflow-y: auto;
    }
  
    .sidebar.active {
      transform: translateX(0);
    }
  
    .hamburger-btn {
      display: block;
    }
  
    .main-content {
      padding-top: 60px;
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .sidebar nav ul {
      display: flex;
      flex-direction: column;
      padding: 20px;
    }
  
    .sidebar nav ul li {
      margin: 5px 0;
    }
  
    .sidebar nav ul li a {
      padding: 15px;
      width: 100%;
      text-align: left;
    }
  
    .sidebar nav ul .submenu a {
      padding-left: 30px;
    }
}

@media (max-width: 480px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  #logout-btn {
    margin-top: 10px;
    width: 100%;
  }

  .header-left {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hamburger-btn {
    margin: 10px 0;
  }

  .sidebar nav ul li a {
    text-align: left;
    padding-left: 15px;
  }

  .sidebar nav ul .submenu a {
    padding-left: 30px;
  }
}