<!DOCTYPE html>
<html>
  <head>
    <title>Tambah event Baru</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <style>
      .container {
        max-width: 400px;
        margin: 0 auto;
        margin-top: 20px;
      }
      .form-container {
        max-width: 400px;
        margin: 0 auto;
      }
      #preview {
        max-width: 100%;
        margin-top: 10px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Tambah event Baru</h1>
      <div class="form-container">
        <form action="{{url_for('add_workshop')}}" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label for="nama">Nama Event</label>
            <input type="text" class="form-control" id="event" name="event" required />
          </div>
          <div class="form-group">
            <label for="harga">Harga Tiket</label>
            <input type="number" class="form-control" id="harga" name="harga" required />
          </div>
          <div class="form-group">
            <label for="tgl_mulai">Tanggal Mulai</label>
            <input type="date" class="form-control" id="tgl_mulai" name="tgl_mulai" required />
          </div>
          <div class="form-group">
            <label for="tgl_akhir">Tanggal Akhir</label>
            <input type="date" class="form-control" id="tgl_akhir" name="tgl_akhir" required />
          </div>
          <div class="form-group">
            <label for="jam_mulai">Jam mulai</label>
            <input type="time" class="form-control" id="jam_mulai" name="jam_mulai" required />
          </div>
          <div class="form-group">
            <label for="jam_akhir">Jam berakhir</label>
            <input type="time" class="form-control" id="jam_akhir" name="jam_akhir" required />
          </div>
          <div class="form-group">
            <label for="lokasi">Lokasi</label>
            <input type="text" class="form-control" id="lokasi" name="lokasi" required />
          </div>                    
          <div class="form-group">
            <label for="stock">Stock</label>
            <input type="number" class="form-control" id="stock" name="stock" required>
          </div>
          <div class="form-group">
            <label for="deskripsi">Deskripsi</label>
            <textarea type="text" class="form-control" id="deskripsi" name="deskripsi" required></textarea>
          </div>                    
          <div class="form-group">
            <label for="gambar">Poster:</label>
            <input type="file" class="form-control-file" id="gambar" name="gambar" accept="image/*" />
            <div id="preview"></div>
          </div>
          <input type="submit" class="btn btn-primary" value="Tambah event" />
        </form>
      </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
      document.getElementById("gambar").addEventListener("change", function (event) {
        var preview = document.getElementById("preview");
        preview.innerHTML = "";
        var files = event.target.files;
        for (var i = 0; i < files.length; i++) {
          var file = files[i];
          var reader = new FileReader();
          reader.onload = function (e) {
            var image = document.createElement("img");
            image.src = e.target.result;
            image.className = "img-fluid";
            preview.appendChild(image);
          };
          reader.readAsDataURL(file);
        }
      });
    </script>
  </body>
</html>
