{% extends base_template %} {% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/coba.css') }}" />
{% endblock %} {% block content %}

<section class="mt-lg-5" id="why-batik">
  <div class="container text-center mb-5">
    <div class="row">
      <h1>Kenapa Belajar Batik</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="fizo-icon-box layout-5">
          <div class="icon"><img src="{{ url_for('static', filename='img/batik-01.png') }}" alt="" /></div>
          <h3><a href="#">Melestarikan Warisan Budaya</a></h3>
          <div class="dis">
            Batik adalah salah satu warisan budaya Indonesia yang diakui oleh UNESCO sebagai Warisan Budaya Takbenda. Dengan mempelajari batik, kita turut berperan dalam melestarikan dan mempertahankan tradisi ini agar tidak punah. Ini
            adalah bentuk penghormatan kepada nenek moyang kita dan upaya menjaga identitas budaya bangsa.
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="fizo-icon-box layout-5">
          <div class="icon"><img src="{{ url_for('static', filename='img/batik-02.png') }}" alt="" /></div>
          <h3><a href="#">Menghargai Kesenian Lokal</a></h3>
          <div class="dis">
            Batik adalah bentuk seni yang kaya akan makna dan simbolisme. Dengan mempelajari batik, kita dapat lebih menghargai keindahan dan kompleksitas seni lokal. Ini membantu kita memahami lebih dalam tentang simbol-simbol yang
            digunakan dalam motif batik, yang seringkali mencerminkan filosofi hidup, cerita rakyat, dan kepercayaan masyarakat.
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="fizo-icon-box layout-5">
          <div class="icon"><img src="{{ url_for('static', filename='img/batik-03.png') }}" alt="" /></div>
          <h3><a href="#">Mendorong Ekonomi Kreatif</a></h3>
          <div class="dis">Batik memiliki nilai ekonomi yang tinggi, baik di pasar domestik maupun internasional. Dengan mempelajari batik, kita dapat berkontribusi pada pengembangan ekonomi kreatif dan membuka peluang usaha. Industri batik dapat menciptakan lapangan kerja dan mendorong perekonomian lokal, terutama di daerah-daerah penghasil batik.</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="fizo-icon-box layout-5">
          <div class="icon"><img src="{{ url_for('static', filename='img/batik-04.png') }}" alt="" /></div>
          <h3><a href="#">Meningkatkan Kreativitas dan Keterampilan</a></h3>
          <div class="dis">
            Proses pembuatan batik, mulai dari mendesain pola hingga mengeksekusi teknik pewarnaan, memerlukan kreativitas dan keterampilan tangan yang tinggi. Belajar batik dapat mengasah kemampuan artistik, keterampilan motorik halus, dan
            ketelitian. Ini juga mendorong inovasi, karena Anda bisa bereksperimen dengan desain dan teknik baru sambil tetap menghormati tradisi.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mt-5">
  <div class="container text-center mb-5">
    <div class="row">
      <h1>Class Workshop</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      {% for event in event_list %}
      <div class="col-lg-6 mb-4 mb-lg-0">
        <div class="image-container">
          {% if event[10] %}
          <img src="{{ url_for('static', filename='img/data_upload/' + event[10]) }}" class="img-fluid shadow-1-strong rounded mb-4" alt="batik-img" />
          {% else %}
          <span>Gambar tidak tersedia</span>
          {% endif %}
          <div class="overlay">
            <div class="text">
              <h1 class="mb-3" style="text-transform:capitalize;">{{ event[1] }}</h2>
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#modalQuickview"
                data-id="{{ event[0] }}"
                data-nama="{{ event[1] }}"
                data-tanggal="{{ event[2] | format_date }} s.d {{ event[3] | format_date }}"
                data-harga="{{ event[4] | thousand_separator}}"
                data-lokasi="{{ event[5] }}"
                data-jam="{{ event[6] | format_time }} s.d {{ event[7] | format_time }}"
                data-deskripsi="{{ event[8] }}"
                data-stock="{{ event[9] }}"
                data-gambar="{{ event[10] }}"
              >
                Lihat Detail
              </button>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<div class="modal fade" id="modalQuickview" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col text-right">
              <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="product-details-gallery-area">
                <div class="product-large-image modal-product-image-large">
                  <div class="product-image-large-single">
                    <img class="img-fluid" src="{{ url_for('static', filename='img/class-01.png') }}" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="product-details-content-area">
                <div class="product-details-text">
                  <h1 class="event" style="color: red; text-transform:capitalize;"></h1>
                  <div class="base-price" style="display: none"></div>
                  <div class="total-price"></div>
                  <ul style="font-size: 12px; margin-top: 5px;">
                    <li>Tanggal</li>
                    <li class="tanggal"></li>
                    <li>Waktu</li>
                    <li class="jam"></li>
                  </ul>
                  <div class="main-batik" style="text-align: left;">
                  <p class="deskripsi"></p></div>
                </div>
                <input type="hidden" name="id" class="modal-body-input" />
                <!-- Formulir Pemesanan -->
                <form id="pesan-form" action="{{ url_for('pesan') }}" method="POST">
                  <input type="hidden" name="paket" class="modal-body-input" />
                  <input type="hidden" name="harga_per_tiket" class="modal-body-input" />
                  <div class="product-details-variable">
                    <div class="variable-single-item">
                      <span class="stock">Jumlah Tiket</span>
                      <div class="product-variable-quantity">
                        <input type="hidden" class="initial-stock" value="0" />
                        <input min="1" value="1" type="number" name="jumlah_tiket" class="quantity-input" />
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-success mt-3" style="width: 100%;">Pesan Sekarang</button>
                </form>
                <!-- Akhir Formulir Pemesanan -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block script %}
<script>
  function formatPrice(price) {
    return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
  }
  document.addEventListener("DOMContentLoaded", function () {
    var modal = document.getElementById("modalQuickview");
    modal.addEventListener("show.bs.modal", function (event) {
      var button = event.relatedTarget;

      // Extract info from data-* attributes
      var id = button.getAttribute("data-id");
      var nama = button.getAttribute("data-nama");
      var tanggal = button.getAttribute("data-tanggal");
      var harga = button.getAttribute("data-harga");
      var lokasi = button.getAttribute("data-lokasi");
      var jam = button.getAttribute("data-jam");
      var deskripsi = button.getAttribute("data-deskripsi");
      var stock = button.getAttribute("data-stock");
      var gambar = button.getAttribute("data-gambar");

      // Update the modal's content
      modal.querySelector(".event").textContent = nama;
      modal.querySelector(".base-price").textContent = "Rp " + harga;
      modal.querySelector(".total-price").textContent = "Rp " + harga;
      modal.querySelector(".tanggal").textContent = tanggal;
      modal.querySelector(".jam").textContent = jam;
      modal.querySelector(".deskripsi").textContent = deskripsi;
      modal.querySelector(".stock").textContent = "Sisa Tiket " + stock;
      modal.querySelector(".initial-stock").value = stock;
      var imgTag = modal.querySelector(".modal-product-image-large img");
      imgTag.src = '{{ url_for("static", filename="img/data_upload/") }}' + gambar;

      var form = modal.querySelector("#pesan-form");
      form.querySelector('[name="paket"]').value = nama;
      form.querySelector('[name="harga_per_tiket"]').value = harga.replace(/\./g, "");

      // Reset quantity input
      var quantityInput = modal.querySelector(".quantity-input");
      quantityInput.value = 1;
      quantityInput.max = stock;
      quantityInput.setAttribute("data-harga", harga.replace(/\./g, ""));
    });

    // Listen for changes in the quantity input
    modal.querySelector(".quantity-input").addEventListener("input", function (event) {
      var quantityInput = event.target;
      var quantity = parseInt(quantityInput.value);
      var maxQuantity = parseInt(quantityInput.max);
      var harga = parseFloat(quantityInput.getAttribute("data-harga"));

      // Validate quantity
      if (quantity > maxQuantity) {
        quantityInput.value = maxQuantity;
        quantity = maxQuantity;
      } else if (quantity < 1) {
        quantityInput.value = 1;
        quantity = 1;
      }

      var total = quantity * harga;
      modal.querySelector(".total-price").textContent = "Rp " + formatPrice(total);
    });
  });
</script>

{% endblock %}
